<template>
  <div id="dtContainer">
    <DataTable
      :header-fields="headerFields"
      :sort-field="sortField"
      :sort="sort"
      :data="data || []"
      :is-loading="isLoading"
      :css="datatableCss"
      not-found-msg="Items not found"
      @onUpdate="dtUpdateSort"
      trackBy="firstName"
    >
<div 
        slot="videos"
        slot-scope="props"
        id="videos">
          <iframe 
        @click="dtEditClick(props);" width='80' height='80' src='https://video-wp-encore.azurewebsites.net/public/EncoreOverview.mp4'></iframe>
        </div>

    <div 
        slot="actions"
        slot-scope="props">

        <button class="btn btn-warning" 
        @click="dtEditClick(props);"
        style="margin-left: 10px;">
          <i class="fa fa-edit"></i>
        </button>

        <button class="btn btn-danger" 
        @click="dtDeleteClick(props);"
        style="margin-left: 5px;">
          <i class="fa fa-trash"></i>
        </button>
    </div>
      

      <Pagination
        slot="pagination"
        :page="currentPage"
        :total-items="totalItems"
        :items-per-page="itemsPerPage"
        :css="paginationCss"
        @onUpdate="changePage"
        @updateCurrentPage="updateCurrentPage"
      />
      <div class="items-per-page" slot="ItemsPerPage">
        <label>Items per page</label>
        <ItemsPerPageDropdown
          :list-items-per-page="listItemsPerPage"
          :items-per-page="itemsPerPage"
          :css="itemsPerPageCss"
          @onUpdate="updateItemsPerPage"
        />
      </div>
      <Spinner slot="spinner"/>
    </DataTable>
  </div>
</template>
<style>
#dtContainer {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#dtContainer .title {
  margin-bottom: 30px;
}

#dtContainer .items-per-page {
  height: 100%;
  display: flex;
  align-items: center;
  color: #337ab7;
}

#dtContainer .items-per-page label {
  margin: 0 15px;
}

/* Datatable CSS */
#v-datatable .header-item {
  cursor: pointer;
  color: #337ab7;
  transition: color 0.15s ease-in-out;
}

#v-datatable .header-item:hover {
  color: #ed9b19;
}

#v-datatable .header-item.no-sortable {
  cursor: default;
}
#v-datatable .header-item.no-sortable:hover {
  color: #337ab7;
}

#v-datatable .header-item .th-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

#v-datatable .header-item .th-wrapper.checkboxes {
  justify-content: center;
}

#v-datatable .header-item .th-wrapper .arrows-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
}

#v-datatable .header-item .th-wrapper .arrows-wrapper.centralized {
  justify-content: center;
}

#v-datatable .arrow {
  transition: color 0.15s ease-in-out;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

#v-datatable .arrow.up {
  border-bottom: 8px solid #337ab7;
}

#v-datatable .arrow.up:hover {
  border-bottom: 8px solid #ed9b19;
}

#v-datatable .arrow.down {
  border-top: 8px solid #337ab7;
}

#v-datatable .arrow.down:hover {
  border-top: 8px solid #ed9b19;
}

#v-datatable .footer {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
/* End Datatable CSS */

/* Pagination CSS */
#v-data-table-pagination {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 30px;
}

#v-data-table-pagination .pagination-item {
  width: 30px;
  margin-right: 5px;
  font-size: 16px;
  transition: color 0.15s ease-in-out;
}

#v-data-table-pagination .pagination-item.selected {
  color: #ed9b19;
}

#v-data-table-pagination .pagination-item .page-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: #337ab7;
  transition: color 0.15s ease-in-out;
}

#v-data-table-pagination .pagination-item .page-btn:hover {
  color: #ed9b19;
}

#v-data-table-pagination .pagination-item .page-btn:disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.65;
}
/* END PAGINATION CSS */

/* ITEMS PER PAGE DROPDOWN CSS */
.item-per-page-dropdown {
  background-color: transparent;
  min-height: 30px;
  border: 1px solid #337ab7;
  border-radius: 5px;
  color: #337ab7;
}
.item-per-page-dropdown:hover {
  cursor: pointer;
}
/* END ITEMS PER PAGE DROPDOWN CSS */
</style>

<script>
import Spinner from "vue-simple-spinner";
import { DataTable, ItemsPerPageDropdown, Pagination } from "v-datatable-light";
import orderBy from "lodash.orderby";

const initialData = [
  {
    title: 'Avengers 1',
    description: 'Avengers',
    director: 'Joss Whedon', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '456', 
    release_year: '2018', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
   {
    title: 'Avengers 2',
    description: '3242342',
    director: 'Joss Whedon', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '233', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
   {
    title: 'Avengers 7',
    description: 'Avengers',
    director: 'Testing data', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '12', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
   {
    title: 'Avengers',
    description: 'Avengers',
    director: 'Joss Whedon', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '143', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
   {
    title: 'Avengers',
    description: 'Avengers',
    director: 'Joss Whedon', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '143', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
  {
    title: 'La isla desierta',
    description: 'Leonardo Dicaprio',
    director: 'Joss Whedon', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '143', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
   {
    title: 'Avengers',
    description: 'Avengers',
    director: 'Joss Whedon', 
    producer: 'Robert de Niro', 
    writer: 'Stan Lee', 
    duration: '143', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
   {
    title: 'Avengers',
    description: 'Avengers',
    director: 'Joss Whedon', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '143', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
  {
    title: 'La casa de papel',
    description: 'Avengers',
    director: 'Espana', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '334', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
   {
    title: 'Avengers 2',
    description: 'Avengers',
    director: 'Carlos Javie', 
    producer: 'Jose Alfredo', 
    writer: 'Stan Lee', 
    duration: '143', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
   {
    title: 'Avengers',
    description: 'Avengers',
    director: 'Joss Whedon', 
    producer: 'Kevin Feige', 
    writer: 'Stan Lee', 
    duration: '143', 
    release_year: '2021', 
    video_url: 'https://es.wikipedia.org/wiki/The_Avengers_(pel%C3%ADcula_de_2012)', 
  },
];

export default {
  name: "DataTableL",
  components: {
    DataTable,
    ItemsPerPageDropdown,
    Pagination,
    Spinner
  },
  data: function() {
    return {
      headerFields: [
        {
          name: "title",
          label: "Title",
          sortable: true
        },
        {
          name: "description",
          label: "Description",
          sortable: true
        },
        {
          name: "director",
          label: "Director",
          sortable: true
        },
        {
          name: "producer",
          label: "Producer",
          sortable: true
        },
        {
          name: "writer",
          label: "Writer",
          sortable: true,
          // format: formatDate
        },
        {
          name: "duration",
          label: "Duration",
          sortable: false,
        },
        {
          name: "release_year",
          label: "Released in",
          sortable: true,
        },
        "__slot:videos",
        "__slot:actions"
      ],
      data: initialData.slice(0, 10),
      datatableCss: {
        table: "table table-bordered table-hover table-striped table-center",
        th: "header-item",
        thWrapper: "th-wrapper",
        thWrapperCheckboxes: "th-wrapper checkboxes",
        arrowsWrapper: "arrows-wrapper",
        arrowUp: "arrow up",
        arrowDown: "arrow down",
        footer: "footer"
      },
      paginationCss: {
        paginationItem: "pagination-item",
        moveFirstPage: "move-first-page",
        movePreviousPage: "move-previous-page",
        moveNextPage: "move-next-page",
        moveLastPage: "move-last-page",
        pageBtn: "page-btn"
      },
      itemsPerPageCss: {
        select: "item-per-page-dropdown"
      },
      isLoading: false,
      sort: "asc",
      sortField: "firstName",
      listItemsPerPage: [5, 10, 20, 50, 100],
      itemsPerPage: 10,
      currentPage: 1,
      totalItems: 16
    };
  },
  methods: {
    // TODO, methods to process data
    dtEditClick: props => alert(JSON.stringify(props)),
    dtDeleteClick: props => alert(JSON.stringify(props)),

    dtUpdateSort: function({ sortField, sort }) {
      const sortedData = orderBy(initialData, [sortField], [sort]);
      const start = (this.currentPage - 1) * this.itemsPerPage;
      const end = this.currentPage * this.itemsPerPage;
      this.data = sortedData.slice(start, end);
    },

    updateItemsPerPage: function(itemsPerPage) {
      this.itemsPerPage = itemsPerPage;
      if (itemsPerPage >= initialData.length) {
        this.data = initialData;
      } else {
        this.data = initialData.slice(0, itemsPerPage);
      }
    },

    changePage: function(currentPage) {
      this.currentPage = currentPage;
      const start = (currentPage - 1) * this.itemsPerPage;
      const end = currentPage * this.itemsPerPage;
      this.data = initialData.slice(start, end);
    },

    updateCurrentPage: function(currentPage) {
      this.currentPage = currentPage;
    }
  }
};
</script>
