<template>
<div>
    <div class="row col-md-12">
        <div class="form-group col-md-4">
            <label for="Title">Title</label>
            <input type="text" v-model="title" class="form-control" id="Title" aria-describedby="Title" placeholder="Enter Title">
        </div>   
        <div class="form-group col-md-4">
            <label for="Director">Director</label>
            <input type="text" v-model="director" class="form-control" id="Director" aria-describedby="Director" placeholder="Enter Director name">
        </div> 
        <div class="form-group col-md-4">
            <label for="Producer">Producer</label>
            <input type="text" v-model="producer" class="form-control" id="Producer" aria-describedby="Producer" placeholder="Enter Producer name">
          </div> 
        <div class="form-group col-md-4">
            <label for="Writer">Writer</label>
            <input type="text" v-model="writer" class="form-control" id="Writer" aria-describedby="Writer" placeholder="Enter Writer name">
        </div>   
        <div class="form-group col-md-4">
            <label for="Duration">Duration</label>
            <input type="number" v-model="duration" class="form-control" id="Duration" aria-describedby="Duration" placeholder="Enter Duration in minutes">
        </div> 
        <div class="form-group col-md-4">
            <label for="ReleaseYear">Release Year</label>
            <input type="number" v-model="release_year" min="1895" max="2022" step="1" class="form-control" id="ReleaseYear" aria-describedby="ReleaseYear" placeholder="Enter Release Year">
        </div> 
        <div class="form-group col-md-6">
            <label for="VideoUrl">Video Url</label>
            <input type="text" v-model="video_url" class="form-control" id="VideoUrl" aria-describedby="VideoUrl" placeholder="Enter Video Url">
        </div> 
        <div class="form-group col-md-6">
            <label for="Description">Description</label>
            <textarea class="form-control" v-model="description" id="Description" aria-describedby="Description" placeholder="Enter Description"></textarea>
        </div> 
    </div> 
  
</div>
</template>

<script>

export default {
  name: "Fields",
  data() {
    return {
    title: '',
    description: '',
    director: '', 
    producer: '', 
    writer: '', 
    duration: '', 
    release_year: '', 
    video_url: '', 
    };
  },
  methods: {
  mounted() {
  }
  }
};

</script>

<style>

</style>
