<template>
<div>
  <MediaItem v-on:onClick="OnMediaClick" MediaType="Movies"/>
  <MediaItem v-on:onClick="OnMediaClick" MediaType="Anime"/>
  <MediaItem v-on:onClick="OnMediaClick" MediaType="Documentaries"/>
  <MediaItem v-on:onClick="OnMediaClick" MediaType="Series"/>
  <MediaItem v-on:onClick="OnMediaClick" MediaType="Others"/>
  <div>
  <label style="margin-top: 10px;"><h3>{{current}}</h3></label>
  <label style="margin-top: 10px; float:right;"><button @click="showFields()" class="btn btn-lg btn-info">{{currentAction}}</button></label>
  </div>

  <transition name="fade">
  <div v-if="showFieldsOrNot">
  <Fields  />
  <button class="btn btn-lg btn-primary" style="margin-bottom: 10px; margin-left: 20px;">Save</button>
  </div>
  </transition>
    <DataTableL />
</div>
  
</template>

<script>
import Services from "../services/Services";
import MediaItem from './MediaItem.vue';
import DataTableL from './DataTableL.vue';
import Fields from './Fields.vue';

export default {
  components: { MediaItem, DataTableL, Fields },
  name: "Index",
  data() {
    return {
      current: "Movies",
      showFieldsOrNot: false,
      currentAction: "Create New"
    };
  },
  methods: {
    OnMediaClick(media) {
      this.current = media;
    },
    showFields() {
      this.currentAction = !this.showFieldsOrNot ? "Hide fields" : "Create New";
      this.showFieldsOrNot = !this.showFieldsOrNot;
    },
    getMedia(id) {
      Services.get(id)
        .then(response => {
          this.current = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },

    update() {
      Services.update(this.current.id, this.current)
        .then(response => {

            alert(response);
        })
        .catch(e => {
          console.log(e);
        });
    },

    delete() {
      Services.delete(this.current.id)
        .then(response => {
            alert(response);
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
