<template>
    <button @click="$emit('onClick', MediaType)" class="btn btn-success buttonStyle">{{MediaType}}</button>
</template>

<script>

export default {
  name: "MediaItem",
  props: {
    MediaType:String
  }
};
</script>

<style>
    .buttonStyle {
        margin: 5px;
        padding: 15px;
    }
</style>
